* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

pre {
    font-family: "Fira Code Medium", Consolas, monospace;
    // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

$padding: 16px;
// $main-color: rgb(69, 84, 145);
// $main-color: #7cd1cd;
$main-color: #36b8c2;
$border-color: #eee;

body {
    font-size: 16px;
}

.site-page {
    background: #ffffff;
    // background-image: linear-gradient(to top, #eaf5ff 0, #edf9fd 100%);
    // background-image: linear-gradient(to top, #30cfd0 0, #330867 100%);
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
    min-height: 100vh;
}

.site-main {

    // overflow: hidden;
    .doc {
        display: flex;
        flex-wrap: nowrap;
        padding: 32px 30px 56px 64px;

        & .doc-content {
            width: 100%;
            margin-right: 40px;

            & .doc-title {
                // --的属性会优先继承之前的，没有的话才用--开头的
                font-size: 30px;
                margin: 0px 0 20px 0;
                font-weight: 500;
            }

            & .doc-introduction {
                font-size: 14px;
                line-height: 1.6;
                margin: 20px 0 26px 0;
            }

            & .doc-notice {
                border-left: 4px solid rgb(224, 224, 230);
                padding-left: 12px;
            }

            & .doc-introduction-code {
                width: 80%;
                background: #f5f5f5;
                padding: 12px 20px;
                border: 1px solid rgb(230, 223, 223);
                margin-bottom: 10px;

                & .token-function {
                    color: #f81d22;
                }
            }

            & .doc-introduction-ul {
                list-style: disc;
                list-style-position: inside;

                li {
                    margin-bottom: 14px;
                }
            }

            & .doc-h2 {
                font-size: 22px;
                margin: 30px 0 20px 0;
                font-weight: 500;
                color: rgb(31, 34, 37);
            }

            & .display {
                display: grid;
                gap: 16px;
                grid-template-columns: minmax(235px, 665px) minmax(235px, 665px);
                // grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
                align-items: flex-start;
                padding-bottom: 20px;

                & .display-card {
                    border-radius: 3px;
                    line-height: 1.6;
                    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.06), 0 5px 12px 4px rgba(0, 0, 0, 0.04);
                    // padding: 19px 24px 30px 24px;
                    font-size: 14px;


                    border: 1px solid rgb(218, 215, 215);
                    display: flex;
                    flex-direction: column;
                    // width: 100%;
                    box-sizing: border-box;
                    position: relative;
                    transition: color .3s cubic-bezier(0.4, 0, 0.2, 1),
                        background-color .3s cubic-bezier(0.4, 0, 0.2, 1),
                        box-shadow .3s cubic-bezier(0.4, 0, 0.2, 1),
                        border-color .3s cubic-bezier(0.4, 0, 0.2, 1);

                    overflow: hidden;
                }

            }

            & .doc-props-title {
                margin: 20px 0 30px;
            }

            & .doc-props {
                // width: 80%;
                text-align: center;
            }

            & .doc-props-table {
                display: table;
                box-sizing: border-box;
                text-indent: initial;
                border-spacing: 2px;
                // border-color: grey;
                border-collapse: collapse;
                // line-height: 1.8em;
                width: 100%;
                // border-bottom: 1px solid rgba(0, 0, 0, .15);
                text-align: center;
                font-size: 14px;
                border: 1px solid rgba(239, 239, 245, 1);

                tr {
                    border-bottom: 1px solid rgb(230, 230, 230);

                    th {
                        padding: 15px 10px;
                        background-color: rgba(250, 250, 252, 1);
                    }

                    td {
                        padding: 15px 10px;
                    }
                }


                code {
                    margin: 0 1px;
                    padding: .2em .4em;
                    font-size: .9em;
                    background: #f2f4f5;
                    border: 1px solid #f0f0f0;
                    border-radius: 3px;
                }
            }
        }

        & .doc-aside {
            width: 160px;


            div {
                margin-bottom: 10px;
                border: 1px solid black;
            }
        }
    }

}



.site-header {
    height: 64px;
    background-color: #fff;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 64px;
    // z-index: 100;
    position: relative;
    border-bottom: solid 1px rgb(239, 239, 245);
    align-items: center;
    box-shadow: 0 2px 8px #f0f1f2;
    padding: 0 32px;

    .logo {

        display: flex;
        align-items: center;

        >img {
            margin-right: 12px;
        }

        >span {
            color: $main-color;
            font-size: 28px;
            font-style: italic;
        }
    }
}

.site-aside {
    border-right: 1px solid #EEEEEE;
    width: 280px;

    .site-aside-title {
        padding: $padding;
        font-size: 16px;
        padding-left: 40px;
        color: gray;
        font-weight: bolder;
    }

    ul {
        min-width: 12em;

        li {
            margin-bottom: 5px;

            a {
                height: 42px;
                line-height: 28px;
                color: #333;
                display: block;
                padding: 8px $padding;
                padding-left: 52px;
                font-size: 14px;


                &.active {
                    color: white;
                    color: rgb(87, 134, 111);
                    // background-color: lighten(rgb(87, 134, 111), 28%);
                    background-color: lighten($main-color, 28%);
                }

                &:hover {
                    color: lighten($main-color, 5%);
                }
            }
        }
    }
}

.site-footer {
    text-align: center;
    font-size: 12px;
    color: #666;
    padding: 16px 0;
    border-top: 1px solid $border-color;
}

.example {
    padding: 16px 0;
}